@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap");

* {
  font-family: "M PLUS Rounded 1c", Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  border: none;
  outline: none;
}

body {
  background: #8990ec;
}

.wrapper {
  height: 525px;
  background: #272639;
  width: 360px;
  border-radius: 1rem;
  padding: 1.2rem;
  margin: 100px auto;
}

#topContainer {
  margin-top: 5rem;
}
.title {
  font-weight: 500;
  margin-bottom: 1rem;
}
.inputContainer {
  width: auto;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  background: #414461;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.inputContainer input {
  background: #414461;
  font-size: 16px;
}
.inputContainer input::placeholder {
  font-size: 16px;

  font-weight: 600;
  padding-left: 0;
}

.inputContainer span {
  position: relative;
  left: 4px;
}

.splitButton {
  background: #8990ec;
  width: 1.7rem;
  border-radius: 50%;
  height: 1.7rem;
  cursor: pointer;
}

.buttonText {
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.splitAmount {
  margin: 0 0.5rem;
  font-size: 2rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom {
  display: flex;

  justify-content: space-between;
}

.totalContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.total {
  font-size: 2rem;
}
