* {
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
}

#play {
  padding: 1rem 2rem;
  font-size: 2.5rem;
  border-radius: 2rem;
  background: rgb(113, 209, 113);
  border: 2px solid rgb(49, 83, 49);
  transform: translateY(-15rem);
}

.p1__info,
.p2__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p1__info img {
  width: 15rem;
}

.p2__info img {
  width: 21.5rem;
  transform: scaleX(-1);
}

.p1__name,
.p2__name {
  font-size: 3rem;
  font-weight: 600;
}

.player__controls {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  font-size: 2rem;
}

.attact__div,
.heal__div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

button {
  cursor: pointer;
}

.player__controls button {
  width: 7rem;
  padding: 0;
  background: rgb(123, 224, 255);
  margin-bottom: 1rem;
  border-radius: 2rem;
}

#p1__health,
#p2__health {
  font-size: 3rem;
}

.result__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  margin: 2rem auto;
  gap: 1.5rem;
}
.result__container button {
  padding: 2rem;
  width: 10rem;
  border-radius: 2rem;
  background: rgb(113, 209, 113);
  margin: 0 auto;
}

#result {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 5px;
  height: 3rem;
  color: rgb(0, 172, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem;
}
