html,
body {
  height: 100vh;
  font-size: 62.5%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
}

* {
  outline: none;
  border: none;
}

body {
  background: #243435;
}

button {
  width: 10rem;
  height: 10rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 5.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.buttons {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.buttons button {
  color: #243435;
  transition: 0.3s;
}
.buttons button:focus {
  color: #499297;
  box-shadow: 0 2px 15px 7px rgba(0, 0, 0, 0.3);
}

.resultContainer {
  font-size: 2.5rem;
  text-align: center;
}

#endGameButton {
  color: rgb(204, 12, 12);
  margin-top: 2rem;
  transition: 0.3s;
}

#endGameButton:focus {
  color: red;
  box-shadow: 0 2px 15px 7px rgba(0, 0, 0, 0.3);
}
