body {
  font-family: sans-serif;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

* {
  text-decoration: none;
  list-style: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.container {
  align-items: center;
  background: rgb(156, 199, 197);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 50rem;
  margin: 40px auto;
  position: relative;
  width: 40rem;
}

.container img {
  position: absolute;
  right: 0;
  top: 0;
  width: 9rem;
}

#city-input,
#weather-output {
  max-width: 400px;
}
.banner {
  color: rgb(33, 51, 50);
  font-size: 3.5rem;
  margin: 2rem 0;
}

.form-group {
  width: 30rem;
  height: 70px;
  border: 2.5px solid rgb(33, 51, 50);
  border-radius: 4rem;
  position: relative;
  margin-bottom: 2rem;
}

.form-control {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4rem;
  padding: 0 1.5rem;
  font-size: 1.6rem;
}

.form-control::placeholder {
  font-size: 1.6rem;
}

.btn {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4rem;
  margin-bottom: 2rem;
}

.btn-dark {
  color: white;
  background: rgb(33, 51, 50);
  transition: 0.3s;
}

.btn-dark:hover {
  background: rgb(50, 71, 70);
}

.mt-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.card {
  border: 2.5px solid rgb(136, 179, 176);
  width: calc(100% - 4rem);
  border-radius: 1rem;
  height: calc(100% - 20px);
  overflow: hidden;
  position: relative;
}
.card-header {
  border-bottom: 2.5px solid rgb(136, 179, 176);

  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: absolute;
  background: rgb(148, 184, 181);
}

.font-weight-normal {
  font-size: 2.5rem;
  font-weight: 400;
}

.card-body {
  position: relative;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-title {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.list {
  display: flex;
  flex-direction: column;

  padding: 0;
  font-size: 1.6rem;
}

.list li {
  margin-bottom: 1rem;
}
