@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary: #00916c;
  --color-secondary: #003c2d;

  --color-accent: #e6003a;
  --color-bg: #d5fff5;
  --color-text: #b6dad1;
}

* {
  font-family: "poppins", sans-serif;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}
button {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  background: var(--color-bg);
}
.container__heading {
  margin-bottom: 3rem;
  position: relative;

  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  background: var(--color-text);
  width: 100%;
}
.container__heading p {
  font-size: 1.6rem;
}

.nav__news {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

.nav__news a {
  padding: 1rem 1.5rem;
  border-radius: 5px 5px 0 0;
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 2rem;
  transition: 0.4s;
}

.nav__news a:active,
.nav__news a:hover {
  background: var(--color-bg);
}

.container {
  display: grid;
  gap: 2.5rem;
  margin: 0 5rem;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.news__card {
  width: 100%;
  display: flex;
  height: auto;

  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.news__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__image-container {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 2rem;
  height: 280px;
  overflow: hidden;
}

.news__content {
  background: var(--color-accent);
  padding: 1rem 2rem;
  min-height: 45%;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  border-radius: 5px;
}

.news__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-bg);
  margin-bottom: 1rem;
}

.news__description {
  font-size: 1.4rem;
  color: var(--color-text);
  margin-bottom: 1.5rem;
}
.view__button {
  color: var(--color-bg);
  font-size: 1.4rem;
  display: flex;
  width: 10rem;
  justify-content: center;
  background: var(--color-secondary);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.view__button:hover {
  background: var(--color-primary);
}
